<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.finflow.moneytracker.MoneyTrackerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.MoneyTracker">

        <!-- SplashActivity: launcher duy nhất -->
        <activity
            android:name="com.finflow.moneytracker.ui.host.SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoadingActivity: hiện GIF khi đã đăng nhập -->
        <activity
            android:name="com.finflow.moneytracker.ui.host.LoadingActivity"
            android:exported="false" />

        <!-- WelcomeActivity: đăng nhập -->
        <activity
            android:name="com.finflow.moneytracker.ui.host.WelcomeActivity"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name="com.finflow.moneytracker.ui.host.MainActivity"
            android:exported="false" />

    </application>

</manifest>